<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Filmomat</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><h1>Automatic film processor</h1></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Films</a></li>
                    <li><a href="/newfilm">Add new film</a></li>
                </ul>
            </nav>
        </header>

        <div id="content">
            <form>
                <ul>
                    <li>Name: <input type="text"/></li>
                    <li>ISO: <input type="text"/></li>
                    <li>manufacturer: <input type="text"/></li>
                    <li><input id="submit" type="submit" value="Add new film"/></li>

                </ul>


            </form>
        </div>

    </body>
</html>
