<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Filmomat</title>
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        <link rel="stylesheet" href="../../css/processes.css" type="text/css">
        <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css" type="text/css">

        <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../../js/timerUpdate.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><h1>Automatic film processor</h1></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/newfilm"><i class="fa fa-plus" aria-hidden="true"></i> Add film</a></li>
                </ul>
            </nav>
        </header>

        <div id="content">
            <p id="time">time: </p>

        </div>
    </body>
</html>
